<div class="col-md-12 bg-light d-flex justify-content-center">
    <div class="p-5 py-5">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h3 class="text-center align-items-md-center">Change Password</h3>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <label class="old"><h5>Old Password</h5></label>
                <input type="password" class="form-control" placeholder="Old Password" value="" id="old">
            </div>
            <div class="col-md-12 mb-2">
                <label class="password"><h5>New Password</h5></label>
                <input type="password" class="form-control" placeholder="New Password" value=""
                        id="password" name="password">
            </div>
            <div class="col-md-12 mb-2">
                <label class="confirm"><h5>Confirm Password</h5></label>
                <input type="password" class="form-control" placeholder="Confrim password" value=""
                        id="confirm">
            </div>
        </div>
        <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button">Change Password</button>
        </div>
    </div>
</div>

