<div class="col-md-10 bg-light d-flex justify-content-center">
    <div class="p-5 py-5">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h1 class="text-center align-items-md-center">Edit Profile</h1>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label class="labels mb-2"><h5>Name</h5></label>
                <input type="text" class="form-control" placeholder="first name" value="">
            </div>
            <div class="row mb-3 col-md-12">
                <div class="col-md-6 pl-3 mb-2">
                    <label class="labels"><h5>Date of Birth</h5></label>
                    <input type="date" class="form-control" placeholder="date of birth" value="">
                </div>
                <div class="col-md-6 ml-3">
                <label class="labels"><h5>Gender</h5></label>
                <select id="gender" name="gender" class="col-md-12 h-50 form-select" style="border-radius: 0.25rem" >
                    <option selected value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            </div>
            <div class="col-md-12 mb-2">
                <label class="labels mb-2"><h5>PhoneNumber</h5></label>
                <input type="text" class="form-control" placeholder="enter phone number" value="">
            </div>
            <div class="col-md-12 mb-2">
                <label class="labels mb-2"><h5>Address</h5></label>
                <input type="text" class="form-control" placeholder="enter address" value="">
            </div>
        </div>
        <div class="mt-4 text-center">
            <button class="btn btn-primary profile-button" type="button">Save Profile</button>
        </div>
    </div>
</div>

