<div class="col-md-12 bg-light d-flex justify-content-center">
    <div class="col-md-5 p-3 py-5 " style="border-right: 2px solid black;">
        <div class="d-flex justify-content-center align-items-center mb-3">
            <h1 class="text-center align-items-md-center">Review</h1>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Assessor</th>
                <th scope="col">Reviews</th>
                <th scope="col">Rate</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="col-md-7">
        <div class="p-5 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <h1 class="text-center align-items-md-center">Profile</h1>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="labels mb-2"><h5>Name</h5></label>
                    <input type="text" class="form-control" placeholder="first name" value="" disabled>
                </div>
                <div class="row mb-3 col-md-12">
                    <div class="col-md-6 pl-3 mb-2">
                        <label class="labels"><h5>Date of Birth</h5></label>
                        <input type="date" class="form-control" placeholder="date of birth" value="" disabled>
                    </div>
                    <div class="col-md-6 ml-3">
                        <label class="labels"><h5>Gender</h5></label>
                        <input type="text" class="form-control" placeholder="date of birth" value="" disabled>
                    </div>
                </div>
                <div class="row mb-3 col-md-12">
                    <div class="col-md-6 pl-3 mb-2">
                        <label class="labels mb-2"><h5>PhoneNumber</h5></label>
                        <input type="text" class="form-control" placeholder="enter phone number" value="" disabled>
                    </div>
                    <div class="col-md-6 ml-3">
                        <label class="labels mb-2"><h5>Rating</h5></label>
                        <input type="number" class="form-control" placeholder="enter address" value="" disabled>
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label class="labels mb-2"><h5>Address</h5></label>
                    <input type="text" class="form-control" placeholder="enter address" value="" disabled>
                </div>
            </div>
            <div class="mt-4 text-center">
                <button class="btn btn-primary profile-button" type="button">Request update seller</button>
            </div>
        </div>
    </div>
</div>

