<form method="post">
    <div class="card">
    <h4 class="card-header">
        Thêm mới sản phẩm
    </h4>
    <div class="card-body">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Product Name:</label>
                <input type="text" class="form-control" id="productname" name="productname">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Price:</label>
                <input type="number" class="form-control" id="price" name="price" step="0.01">
                </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tiêu đề:</label>
                <input type="text" class="form-control" id="title">
                </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Mô tả:</label>
                <input type="text" class="form-control" id="description">
                   </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Loại sản phẩm:</label>
                <input type="text" class="form-control" id="type" aria-describedby="emailHelp">
                     </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Giá mua ngay:</label>
                <input type="text" class="form-control" id="purchaseprice">
                       </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Hình ảnh:</label>
                <input type="text" class="form-control" id="exampleInputEmail1">
                     </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Các hình ảnh khác:</label>
                <input type="text" class="form-control" id="exampleInputEmail1">
                   </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Ngày kết thúc</label>
                <input type="text" class="form-control" id="dateend">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Người đăng:</label>
                <input type="text" class="form-control" id="dateend">
            </div>
            <a class="btn btn-outline-success" href="/admin/products" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Product List</a>
            <button type="submit" class="btn btn-primary">Thêm
                <i class="fa fa-check"></i>
            </button>

    </div>
</div>
</form>