<div class="card-product">
  <div class="row">
      <div class="col-sm-4 mb-3">
          <div class="card h-100"style="background-color: unset;border: unset;">
              <div class="card-body">
                  <a style="text-decoration: none"href="" target="_blank">
                  <h5 class="card-title text-danger"></h5>
                  <img src=""alt="" class="card-img-top">
                      <h4 class="card-text"style="color:black;" >Iphone X</h4>
                  </a>
                  <h4 class="card-text text-danger">1,500,000 VND</h4>
              </div>
          </div>
      </div>
</div>