body {
    margin: 0;
    padding: 0;
    background: #6976e3;
}

body::-webkit-scrollbar {
    display: none;
}
.images{
    background-image: url('../background/bg-02.jpg');
    background-size: auto;
}