.admin-header{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 20px rgb(29, 26, 26);
    z-index: 1;
    margin: auto;
}
.navbar{
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.offcanvas-collapse{
    background-color: #343a40;
}

.offcanvas-start{
    color: #fff;
    text-transform: uppercase;
    background-color: #343a40;

}

.offcanvas{
    height: 100%;
    width : 270px;
}

.navbar .container-fluid {
    color: white;
}
.nav-item .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    color: white;
}
.nav-item .nav-link:hover {
    color: red;
}
.card{
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.card-header{
    display: flex;
}
.fa-users{
    margin-right: 10px;
}

.fa-list-alt{
    margin-right: 10px;
}

.fa-level-up{
    margin-right: 10px;
}

.fa-balance-scale{
    margin-right: 10px;
}