.navbar{
    background-color: lightskyblue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.offcanvas-collapse{
    background-image:linear-gradient(180deg,#fff, rgb(108, 172, 228));;
}

.navbar .container-fluid {
    color: white;
}
.nav-item .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    color: #6c757d;
}
.nav-item .nav-link:hover {
    color: red;
}