.admin-header{
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    /*z-index: 1;*/
    margin: auto;
}
.navbar{
    /*background-color: black;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #287bff
}

.admin-management{
    color:white;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.btn-offcanvas i{
    color:white;
}
.offcanvas-collapse{
    background-color: #287bff;
}

.offcanvas-start{
    color: #fff;
    text-transform: uppercase;
    background-color: #287bff;
}

.offcanvas{
    padding: 1.25em;
    height: 100%;
    width : 310px;
}

.offcanvas-header{
    padding: 0.5em 0.5em;
}

.navbar .container-fluid {
    color: white;

}
.nav-item .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: .75rem;
    color: white;
}

.navbar-collapse ul li:hover{
    background-color: #fff;
    border-radius: 20px;
}

.nav-item .nav-link:hover {
    color: #287bff;
    font-weight: 700;
}
.card{
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
}
.card-header{
    display: flex;
}
.fa-users{
    margin-right: 10px;
}

.fa-list-alt{
    margin-right: 10px;
}

.fa-list{
    margin-right: 10px;
}

.fa-level-up{
    margin-right: 10px;
}

.fa-balance-scale{
    margin-right: 10px;
}

.fa-arrow-left{
    margin-right: 10px;
}

.fa-money{
    margin-right: 10px;
}

.fa-heart{
    margin-right: 10px;
}

.fa-trophy{
    margin-right: 10px;
}

.fa-key{
    margin-right: 10px;
}

.fa-pencil{
    margin-right: 10px;
}

.fa-eye{
    margin-right: 10px;
}

body {
    background-color: #eee
}

.card {
    border: none;
    border-radius: 10px
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #fffbec;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #fed85d;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.text2 {
    color: #a5aec0
}

.sidebar-out{
    background-color: #287bff;
    height: 100%;
    color: #fff;
}

.sidebar-item .nav-link:hover{
    color: #287bff;
    font-weight: 700;
}
.sidebar-item .nav-link{
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 0.75rem;
    color: white;
}

.sidebar-out ul li:hover{
    background-color: #fff;
    border-radius: 20px;
}

.sidebar-out ul li{
    list-style: none;
    display: block;
}
.sidebar-out ul{
    padding : 0;
}
.sidebar-out{
    position: relative;
    /*border-radius: 20px;*/
}

@media screen and (max-width: 600px) {
    .sidebar-out{
        display: none;
    }

    .row{
        margin-right: 5px;
        margin-left: 5px;
    }
}