.header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 20px rgb(29, 26, 26);
    z-index: 1;
    margin: auto;
}
.product-header{
    padding-top:50px;
}
.product_card{
    position: center;
    justify-content: center;
}
#footer {
    width: 100%;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding-bottom: 50px;
    bottom: 0;
}
div a, a:hover {
    text-decoration: none;
}

div a:hover {
    opacity: 0.8;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}
#myBtnBackTop {
    width: 50px;
    height:50px;
    background:tomato;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom:40px;
    right:20px;
}

#myBtnBackTop:hover {
    background-color: darkseagreen;/* Add a dark-grey background on hover */
}
