.images {
    background-image: url(/public/images/background.jpg);
    background-size:100%;
}
.title{
    font-size: 30px;
    font-weight: bold;
}
.form-container{
    width: 40%;
    border-radius: 15px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.mb-3{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.mb-3 input{
    width: 100%;
    padding:0 5px;
    height: 40px;
    font-size:16px;
    border:none;
    background: none;
    outline:none;
}
.mb-3 label{
    position: absolute;
    left: 5px;
    top:50%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.mb-3 span::before{
    content: '';
    position: absolute;
    top:40px;
    left:0;
    height:2px;
    background: #2691d9;
}
.mb-3 input:focus ~ label,
.mb-3 input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.mb-3 input:focus ~ span::before,
.mb-3 input:valid ~ span::before{
    width: 100%;
}
.gender-input,.birthday-input{
    margin: 40px 0px;
}
.gender-input label,.birthday-input label{
    color: #2691d9;
    position: unset;
    margin-left:5px;
}
.btn-signin,.btn-signup{
    width: 100%;
    height:40px;
    border-radius: 25px;
    background: #2691d9;
    color: #e9f4fb;
    font-weight: bold;
    font-size:18px;
    cursor:pointer;
    outline:none;
    border: none;
}
.btn-save{
    width: 100%;
    height:40px;
    border-radius: 25px;
    background: green;
    color: #e9f4fb;
    font-weight: bold;
    font-size:18px;
    cursor:pointer;
    outline:none;
    border: none;
    margin-top: 20px;
}
.btn-signin:hover,.btn-signup:hover{
    color:green;
}
.btn-save:hover{
    color: red;
}
.hidden{
    display: none;
}
.captcha{
    border-bottom: none;
}
/*Mobile*/
@media only screen and (max-width: 47.9375em){
    .form-container{
        width: 80%;
    }
}
/*Tablet*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .form-container{
        width:60%;
    }
}

