.images {
    background: linear-gradient(120deg,#2908b9,#8e44ad);
    background-size: auto;
}
.form-input{
    border-radius: 15px;
    box-sizing: border-box;
}
.mb-3{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.mb-3 input{
    width: 100%;
    padding:0 5px;
    height: 40px;
    font-size:16px;
    border:none;
    background: none;
    outline:none;
}
.mb-3 label{
    position: absolute;
    left: 5px;
    top:50%;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.mb-3 span::before{
    content: '';
    position: absolute;
    top:40px;
    left:0;
    height:2px;
    background: #2691d9;
}
.mb-3 input:focus ~ label,
.mb-3 input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.mb-3 input:focus ~ span::before,
.mb-3 input:valid ~ span::before{
    width: 100%;
}
.btn-signin{
    width: 100%;
    height:40px;
    border-radius: 25px;
    background: #2691d9;
    color: #e9f4fb;
    font-weight: bold;
    font-size:18px;
    cursor:pointer;
    outline:none;
    border: none;
}
.btn-signin:hover{
    color:green;
}
.btn-signup{
    width: 100%;
    height:40px;
    border-radius: 25px;
    background: #2691d9;
    color: #e9f4fb;
    font-weight: bold;
    font-size:18px;
    cursor:pointer;
    outline:none;
    border: none;
}
.btn-signup:hover{
    color:green;
}


