<div class="row">
    <div class="col-xs-12 col-md-2 col-sm-2"></div>
    <div class="col-xs-12 col-md-8 col-sm-8">
        <form id="frmProfile" class="form form-container" method="post" style="border: 1px solid #fff;padding: 50px 60px;margin-top: 5vh;background-color: white;">
            <div class="d-flex justify-content-center align-items-center mb-3">
                <h3 class="text-center align-items-md-center">Change Password</h3>
            </div>
        <div class="row">
            <div class="col-md-12 mb-2">
                <label class="labels"><h5>Username</h5></label>
                <input type="text" class="form-control" placeholder="Username" value="">
            </div>
            <div class="col-md-12 mb-2">
                <label class="labels"><h5>Old Password</h5></label>
                <input type="password" class="form-control" placeholder="Old Password" value="">
            </div>
            <div class="col-md-12 mb-2">
                <label class="labels"><h5>New Password</h5></label>
                <input type="password" class="form-control" placeholder="New Password" value="">
            </div>
            <div class="col-md-12 mb-2">
                <label class="labels"><h5>Confirm Password</h5></label>
                <input type="password" class="form-control" placeholder="Confrim password" value="">
            </div>
        </div>
        <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="button">Change Password</button>
        </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-2 col-sm-2"></div>
</div>