<form method="post">
    <div class="card">
        <h4 class="card-header">
            Adding Type:
        </h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="typename" class="form-label">Type Name:</label>
                <input type="text" class="form-control" id="typename" name="typename" autofocus>
            </div>
            <div class="mb-3">
                <label for="cid" class="form-label">Category:</label>
                <select class="form-control" id="cid" name="cid">
                    {{#each this.categories}}
                        <option value="{{cid}}"> {{cname}}</option>
                    {{/each}}
                </select>
            </div>
            <a class="btn btn-outline-success" href="/admin/types" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Types List</a>
            <button type="submit" class="btn btn-primary">Save
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>