<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Types
        <div>
            <a class="btn btn-outline-primary" href="/admin/types/add" role="button">Add Manager
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Type ID</th>
            <th scope="col">Type Name</th>
            <th scope="col">Category</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.types}}
            <tr>
                <th scope="row">{{tid}}</th>
                <td>{{typename}}</td>
                <td>{{cid}}</td>
                <td class="text-right">
                    <a name="" id="" class="btn btn-sm btn-primary" href="/admin/types/edit?tid={{tid}}" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="card-footer text-muted">
    2 days ago
    </div>
</div>