<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Products
        <div>
            <a class="btn btn-outline-primary" href="/admin/accounts/add" role="button">Add Manager
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h4>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>

                </tr>
                </thead>
                <tbody>
                {{#each this.accounts}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{username}}</td>
                    <td>{{password}}</td>
                    <td class="text-right">
                        <a name="" id="" class="btn btn-sm btn-primary" href="#" role="button">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a name="" id="" class="btn btn-sm btn-danger" href="#" role="button">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
</div>