<form id="frmProfile" class="form-container" method="post" style="border: 1px solid #fff;padding: 50px 60px;margin-top: 5vh;background-color: white;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);">
    <div class="row mb-3">
        <input type="text"  id="fullname" name="fullname" required>
        <span></span>
        <label class="labels"><h5>Full Name</h5></label>
    </div>
    <div class="row mb-3 gender-input">
        <label for="gender"><h5>Gender</h5></label>
        <select id="gender" name="gender" class="col-md-12 form-select" style="border:none;outline:none;padding-top: 8px; padding-bottom: 8px;">
            <option selected value="1">Male</option>
            <option value="0">Female</option>
        </select>
    </div>
    <div class="row mb-3 birthday-input">
            <label class="labels"><h5>Birthday</h5></label>
            <input type="date"placeholder="" id="dob" name="dob" required>
    </div>
    <div class="row mb-3">
        <input type="tel" id="telephone" name="telephone"pattern="[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}" required>
        <span></span>
        <label class="labels"><h5>PhoneNumber</h5></label>
    </div>
    <div class="row mb-3">
        <input type="text"id="address" name="address" required>
        <span></span>
        <label class="labels"><h5>Address</h5></label>
    </div>
    <button id="btnSave" class="btn-save" type="submit">Save Profile</button>
</form>

