<div class="container-fluid vh-100" style="background-image: url('public/background/bg-01.jpg')" >
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12"></div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <form class="form-container" style="border: 1px solid #fff;padding: 50px 60px;margin-top: 20vh;
            -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);"  method="post">
                <div class="mb-3">
                    <label for="username" class="form-label"><h4>Username</h4></label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" autofocus>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label"><h4>Email</h4></label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="Email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"><h4>Password</h4></label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label"><h4>Repeat Password</h4></label>
                    <input type="password" class="form-control" id="" name="" placeholder="Repeat Password">
                </div>
                <button type="submit" class="btn btn-success btn-block mt-4 mb-4">Sign Up</button>
                <div class="container sign-in text-center">
                    <div>Already have an account?
                        <a class="mx-3" href="/login">Sign in</a>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-md-4 col-sm4 col-xs-12"></div>
    </div>

</div>