<form method="post">
    <div class="card">
        <h4 class="card-header">
            Adding New Category:
        </h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="cname" class="form-label">Category Name:</label>
                <input type="text" class="form-control" id="cname" name="cname" autofocus>
            </div>
            <a class="btn btn-outline-success" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Categories List</a>
            <button type="submit" class="btn btn-primary">Save
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>