<form method="post">
    <div class="card">
        <h4 class="card-header">
            Edit Category
        </h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="cid" class="form-label">Category ID:</label>
                <input type="text" class="form-control" id="cid" name="cid" value="{{this.category.cid}}" readonly>
            </div>
            <div class="mb-3">
                <label for="cname" class="form-label">Category Name:</label>
                <input type="text" class="form-control" id="cname" name="cname" value="{{this.category.cname}}" autofocus>
            </div>
            <a class="btn btn-outline-success" href="/admin/categories" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back to Categories List</a>
            <button type="submit" class="btn btn-danger" formaction="/admin/categories/del">Delete
                <i class="fa fa-trash-o"></i>
            </button>
            <button type="submit" class="btn btn-primary" formaction="/admin/categories/patch">Save Changes
                <i class="fa fa-check"></i>
            </button>
        </div>
    </div>
</form>