<div class="card">
    <h4 class="card-header d-flex justify-content-between">
        Categories
        <div>
            <a class="btn btn-outline-primary" href="/admin/categories/add" role="button">Add Categories
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
            <th scope="col">&nbsp</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.categories}}
            <tr>
                <th scope="row">{{cid}}</th>
                <td>{{cname}}</td>
                <td class="text-right">
                    <a name="" id="" class="btn btn-sm btn-primary" href="/admin/categories/edit?cid={{cid}}" role="button">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>